In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('avocado.csv')

In [6]:
df

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18244,7,2018-02-04,1.63,17074.83,2046.96,1529.20,0.00,13498.67,13066.82,431.85,0.0,organic,2018,WestTexNewMexico
18245,8,2018-01-28,1.71,13888.04,1191.70,3431.50,0.00,9264.84,8940.04,324.80,0.0,organic,2018,WestTexNewMexico
18246,9,2018-01-21,1.87,13766.76,1191.92,2452.79,727.94,9394.11,9351.80,42.31,0.0,organic,2018,WestTexNewMexico
18247,10,2018-01-14,1.93,16205.22,1527.63,2981.04,727.01,10969.54,10919.54,50.00,0.0,organic,2018,WestTexNewMexico
18248,11,2018-01-07,1.62,17489.58,2894.77,2356.13,224.53,12014.15,11988.14,26.01,0.0,organic,2018,WestTexNewMexico

In [10]:
df.region

0                  Albany
1                  Albany
2                  Albany
3                  Albany
4                  Albany
               ...
18244    WestTexNewMexico
18245    WestTexNewMexico
18246    WestTexNewMexico
18247    WestTexNewMexico
18248    WestTexNewMexico
Name: region, Length: 18249, dtype: object

In [11]:
print(pd.options.display.max_rows)

60

In [12]:
df.shape

(18249, 14)

In [13]:
df.columns

Index(['Unnamed: 0', 'Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       '4770', 'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type',
       'year', 'region'],
      dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=18249, step=1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    18249 non-null  int64
 1   Date          18249 non-null  object
 2   AveragePrice  18249 non-null  float64
 3   Total Volume  18249 non-null  float64
 4   4046          18249 non-null  float64
 5   4225          18249 non-null  float64
 6   4770          18249 non-null  float64
 7   Total Bags    18249 non-null  float64
 8   Small Bags    18249 non-null  float64
 9   Large Bags    18249 non-null  float64
 10  XLarge Bags   18249 non-null  float64
 11  type          18249 non-null  object
 12  year          18249 non-null  int64
 13  region        18249 non-null  object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [16]:
df.count()

Unnamed: 0      18249
Date            18249
AveragePrice    18249
Total Volume    18249
4046            18249
4225            18249
4770            18249
Total Bags      18249
Small Bags      18249
Large Bags      18249
XLarge Bags     18249
type            18249
year            18249
region          18249
dtype: int64

In [18]:
df.dropna(inplace = True)
print(df)

       Unnamed: 0        Date  AveragePrice  Total Volume     4046       4225  \
0               0  2015-12-27          1.33      64236.62  1036.74   54454.85
1               1  2015-12-20          1.35      54876.98   674.28   44638.81
2               2  2015-12-13          0.93     118220.22   794.70  109149.67
3               3  2015-12-06          1.08      78992.15  1132.00   71976.41
4               4  2015-11-29          1.28      51039.60   941.48   43838.39
...           ...         ...           ...           ...      ...        ...
18244           7  2018-02-04          1.63      17074.83  2046.96    1529.20
18245           8  2018-01-28          1.71      13888.04  1191.70    3431.50
18246           9  2018-01-21          1.87      13766.76  1191.92    2452.79
18247          10  2018-01-14          1.93      16205.22  1527.63    2981.04
18248          11  2018-01-07          1.62      17489.58  2894.77    2356.13

         4770  Total Bags  Small Bags  Large Bags  XLarge Bags          type  \
0       48.16     8696.87     8603.62       93.25          0.0  conventional
1       58.33     9505.56     9408.07       97.49          0.0  conventional
2      130.50     8145.35     8042.21      103.14          0.0  conventional
3       72.58     5811.16     5677.40      133.76          0.0  conventional
4       75.78     6183.95     5986.26      197.69          0.0  conventional
...       ...         ...         ...         ...          ...           ...
18244    0.00    13498.67    13066.82      431.85          0.0       organic
18245    0.00     9264.84     8940.04      324.80          0.0       organic
18246  727.94     9394.11     9351.80       42.31          0.0       organic
18247  727.01    10969.54    10919.54       50.00          0.0       organic
18248  224.53    12014.15    11988.14       26.01          0.0       organic

       year            region
0      2015            Albany
1      2015            Albany
2      2015            Albany
3      2015            Albany
4      2015            Albany
...     ...               ...
18244  2018  WestTexNewMexico
18245  2018  WestTexNewMexico
18246  2018  WestTexNewMexico
18247  2018  WestTexNewMexico
18248  2018  WestTexNewMexico

[18249 rows x 14 columns]

In [26]:
newdf = df.sort_values(by = "Average Price", DESCENDING = True)

TypeError: sort_values() got an unexpected keyword argument 'DESCENDING'

In [27]:
df.dtypes

Unnamed: 0        int64
Date             object
AveragePrice    float64
Total Volume    float64
4046            float64
4225            float64
4770            float64
Total Bags      float64
Small Bags      float64
Large Bags      float64
XLarge Bags     float64
type             object
year              int64
region           object
dtype: object